<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
        <title>{% block title %}<!-- Placeholder for Title -->{% endblock %}</title> 
        {% block head %}
            <!-- Placeholder for Other Imports -->
        {% endblock %}
   </head>
   <body>
    <div id="header">
        {% block header %}
        <!-- Placeholder for Header-->
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        <!-- Placeholder for Page Content -->
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer%}
        <!-- Placeholder for Footer-->
        {% endblock %}
    </div>
   </body>