{% extends "base.html" %}

{% block title %}
Home - Paws Rescue Center
{% endblock %}

{% block content %}
<h1 id="title"><center>Paws Rescue Center 🐾</center></h1>
<table>
    <tr>
    {% for keys in pets_info[0] %} 
        {% if keys == "id" %}
        <th><strong>Image</strong></th> 
        {% else %} 
        <th><strong>{{keys | title}}</strong></th>
        {% endif %}
    {% endfor %}
    </tr>
    {% for pet_dicts in pets_info %}
        <tr>
            {% for item_keys in pet_dicts %}
                {% if item_keys == "id" %}
                <td>{{(url_for('static',filename=pet_dicts[item_keys]))}}</td>
                {% else %}
                <td>{{pet_dicts[item_keys]}}</td>
                {% endif %}
            {% endfor %}
        </tr> 
    {% endfor %}
</table>
{% endblock %}