{% extends "base.html" %}

{% block title %}
Home - Paws Rescue Center
{% endblock %}

{% block content %}
<h1 id="title"><center>Paws Rescue Center 🐾</center></h1>
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Age</th>
        <th>Bio</th>
    </tr>
    {% for pet in pets_info %} 
    <tr>
        <td><img src="{{url_for('static', filename= pet['id']|string+'.jpg')}}" height="100"></td>
        <!-- Basically the above statement simply uses the 'id' key to get the image titles which are integers -->
        <!--    and then converts them using the "| string" filter and attaches ".jpg" at the end to source it -->
        <!--    correctly.-->
        <td>{{ pet["name"] }}</td>
        <td>{{ pet["age"] }}</td>
        <td>{{ pet["bio"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}